.App {
  text-align: left;
}

.App-header {
  background-color: #b20924;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.App-link {
  color: #61dafb;
}

.custom-btn {
  background-color: #b20924 !important;
  border: #fff !important;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}

.label {
  font-size: 1rem;
  text-decoration: underline;
}

.textarea {
  width: 90%;
  height: 500px;
}

.resultarea {
  width: 90%;
  height: 200px;
}

.flags {
  font-size: 1rem;
  text-align: left;
  align-items: left;
}

li {
  font-size: 0.9rem;
}