.App {
  text-align: left;
}

.App-header {
  background-color: #b20924;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.App-link {
  color: #61dafb;
}

.custom-btn {
  background-color: #b20924 !important;
  border: #fff !important;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}

.label {
  font-size: 1rem;
  text-decoration: underline;
}

.resultarea {
  width: 90%;
  height: 300px;
  }

.noError{
  box-shadow: 0 0 5px 5px greenyellow;
}

.Error{
  box-shadow: 0 0 5px 5px #b20924;
}

.flags {
  font-size: 1rem;
  text-align: left;
  align-items: left;
}

li {
  font-size: 0.9rem;
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.editor #codeArea {
  outline: none;
  padding-left: 3rem !important;
}
.editor pre {
  padding-left: 3rem !important;
}
.content.marked {
  background-color: rgba(178,9,36, 0.3);
  border-radius: 0.2rem;
}
.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 2rem;
  font-weight: 100;
  padding-right: 0.5rem;
  border-right: 1px solid #ced4da;
}
.editor .editorLineNumber.marked {
  color: #b20924;
}